@use "../../shared/styles/all-styles" as all;

.section-skills {
    @include all.bgImg($path: "../../../../public/assets/img/backgrounds/page/lp/bg_skills.png");
    height: 100dvh;
    @include all.dFlex($alit: start);
    padding: 5rem;
}

#skills-container {
    @include all.dFlex($jc: space-around, $alit: start, $gap: 3.2rem);
    padding: 0 16rem;

    .skill-col-1 {
        width: 20dvw;
        @include all.dFlex($flexdir: column, $alit: end);

        .sec-headline {
            @include all.dFlex($flexdir: column, $alit: end, $gap: 3.2rem);

            #skill-sub-h {
                color: all.$color-base-white;
            }

            #skill-h {
                color: all.$color-base-white;
                font-size: 64px;
            }
        }
    }

    .skill-col-2 {
        width: 40dvw;
        @include all.dFlex($flexdir: column, $gap: 8rem);

        .skill-intro-container {
            height: 16rem;
            padding: 1.6rem;

            @include all.dFlex($gap: 8rem);
            @include all.bgImg($path: "../../../../public/assets/img/elementtiles/skills_white.png");

            p {}
        }

        .skills-wrapper {
            @include all.dFlex($gap: 4.8rem, );
            flex-wrap: wrap;

            .skill {
                @include all.dFlex($flexdir: column, $jc: center, $alit: center, $gap: 1.6rem, );
                width: 80px;
                height: 120px;

                img {
                    filter: grayscale(100%);
                    width: 8rem;
                    height: 8rem;

                    &:hover {
                        filter: grayscale(0);
                        transform: scale(1.3);
                        transition: 0.5s ease;
                    }
                }

                p {
                    color: all.$color-base-white;
                }
            }
        }
    }

    .skill-col-3 {
        width: 20dvw;
        height: 50dvh;
        @include all.dFlex($alit: flex-end, $jc: start);
        .skills-testimonials-container {
            img {
                width: 19.2rem;
                height: 19.2rem;
                rotate: (16deg);
            }
        }
    }
}