@mixin animate($animation: btnPressEffect, $duration:0.25s, $iteration: forwards, $transition: 0.25 ease-in ){
  animation: $animation $duration $iteration;
  transition: $transition;
}

// #region Keyframes / Animations

// #region bgImg - Animations

  @keyframes bgImgFadeInLeftToRight {
    0% {
      width: 0%;
      height: 100%;
      top: 0;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes bgImgFadeInTopToBottom {
    0% {
      width: 100%;
      height: 0%;
      top:0;
    }
    100% {
      top: -3rem;
      height: 200%;
    }
  }

  // #endregion bgImg - Animations

// #region img - Animations

@keyframes imgFadeInAndOutRepeat {
  0% {
    width: 0%;
    height: 2rem;
    top: 0;
  }
  20% {
    width: 100%;
  }
  60% {
    width: 100%;
  }
  70% {
    width: 0%;
  }
  100% {
    width: 0%;
  }

  
}

// #endregion img - Animations

// #region bgColor - Animations

  @keyframes bgColorFadeInBottomToTop {
    0% {
      width: 100%;
      height: 0%;
      bottom: 0;
      background: blue;
      
    }
    100% {
      height: 100%;
      background: blue;
    }
  }

// #endregion bgColor - Animations 

  @keyframes ElementGrowAnColorLeftToRight {
    0% {

      box-shadow: inset 0.3rem 0 0 -1px #24DD80;
      transition: box-shadow .0.25s ease-in-out;
      color: black;
      line-height: 40px;
      width: 16rem;
    }
    100% {
      box-shadow: inset 29rem 0 0 -1px #1073EA;
      width: 32rem;
    }
  }
// #endregion Keyframes / Animations

// #region hand-icon-effect
@mixin wave-icon($elementId) {
  #{$elementId} {
    position: absolute;
    top: -6.4rem;
    right: 0;
    transform: rotate(-100deg);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  @keyframes wave-in {
    0% {
      transform: rotate(-100deg);
    }
    10% {
      transform: rotate(-80deg);
    }
    20% {
      transform: rotate(-60deg);
    }
    30% {
      transform: rotate(-40deg);
    }
    40% {
      transform: rotate(-20deg);
    }
    50% {
      transform: rotate(-0deg);
    }
    60% {
      transform: rotate(20deg);
    }
    65% {
      transform: rotate(40deg);
    }
    70% {
      transform: rotate(60deg);
    }
    75% {
      transform: rotate(40deg);
    }
    80% {
      transform: rotate(20deg);
    }
    85% {
      transform: rotate(40deg);
    }
    90% {
      transform: rotate(60deg);
    }
    95% {
      transform: rotate(40deg);
    }
    100% {
      transform: rotate(20deg);
    }
  }
  @keyframes wave-out {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-100deg);
    }
  }

  &.is-hover:hover,
  &:hover {
    #{$elementId} {
      opacity: 1;
      top: -40px;
      left: calc(100% - 1.28rem - 4.8rem);
      animation: wave-in 0.6s ease forwards;
    }
  }
  &:not(:hover) {
    #{$elementId} {
      top: -40px;
      animation: wave-out 0.6s ease forwards;
    }
  }
}
// #endregion hand-icon-effect


// #region Button pressing animation (also for hover)
@mixin btnPressAnimation($duration: 0.25s) {
    animation: btnPressEffect $duration forwards;
}

@keyframes btnPressEffect {
  0% {
    margin: 0 4px 4px 0;
    background-color: coral;
  }
  100% {
    margin: 4px 0 0 4px;
    background-color: coral;
  }
}



@mixin bg-effect {
  background-color: #0e1013;
  transition: background-color 1.25s ease-in-out;

  &:hover {
    background-color: #3355ff;
  }
}

// #region button-witdh-effect
@mixin button-width-effect {
  @keyframes grow {
    0% {
      width: 16rem;
    }
    100% {
      width: 32rem;
    }
  }

  @keyframes shrink {
    0% {
      width: 32rem;
    }
    100% {
      width: 16rem;
    }
  }

  &:hover {
    animation: grow 0.5s ease forwards;
  }
  &:not(:hover) {
    animation: shrink 0.5s ease forwards;
  }
}
// #endregion button-witdh-effect

// #region txt-switch-effect
@mixin txt-switch-effect {
  .text-to-switch {
    white-space: nowrap;
  }

  &:hover {
    text-transform: uppercase;
  }
}
// #endregion txt-switch-effect
