

// #region Button pressing animation (also for hover)
@mixin btnPressAnimation($duration: 0.25s) {
    animation: btnPressEffect $duration forwards;
}

@keyframes btnPressEffect {
  0% {
    margin: 0 4px 4px 0;
    background-color: coral;
  }
  100% {
    margin: 4px 0 0 4px;
    background-color: coral;
  }
}