@use '../shared/styles/mixins';

.section-landingpage {
    background-color: whitesmoke;
    @include mixins.dFlex();
    
    app-header {
        position: absolute;
        top: 0;
        z-index: 1;
    }
}