@use '../shared/styles/mixins';

.section-landingpage {
    background-color: whitesmoke;
    @include mixins.dFlex($flexdir: col);
    
    app-header {
        position: absolute;
        top: 0;
        z-index: 1;
    }

    app-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 3rem 0;
    }
}