@use "../../shared/styles/all-styles" as all;

#section-aboutme {
    width: 100%;
    height: 80dvh;

    .aboutme-container{
        width: 100%;
        height: 80dvh;
        @include all.dFlex($alit: center);
        
        #aboutme-left-side {
            width: 50%;
            @include all.dFlex($flexdir: column);

            .aboutme-main-info-container {
                @include all.dFlex($flexdir: column, $jc: center);
                width: 80%;
                height: 15%;

                >img {
                    width: 100%;
                    height: 16rem;
                }
                
                .icon-txt-container {
                    position: absolute;
                    @include all.dFlex($alit: center, $gap: 1.6rem);
                    
                    .aboutme-icon {
                        width: 4.8rem;
                        height: 4.8rem;
                    }
                    
                    span {
                        color: white;
                        font-size: 20px;
                    }
                }
            }

            #location-container {
                top: 4.8rem;
                z-index: 3;
                transform: rotate(-2deg);
                >div {
                    top: 4rem;
                    span{
                        transform: rotate(-4deg);
                    }
                }
            }

            #relocate-container {
                z-index: 2;
            }

            #remote-container{
                bottom: 4.8rem;
                z-index: 1;
                transform: rotate(6deg);

                >div {
                top: 4.8rem;
                span{
                    transform: rotate(2deg);
                }
                }
            }
        }

        #aboutme-right-side {
            width: 50%;
            padding: 3.2rem;
            
            h3 {
                width: 100%;

            }

            h2 {
                width: 100%;
                font-size: 64px;
            }

            img {
                max-width: 50%;
                height: 2rem;
                @include all.animate($animation: imgFadeInAndOutRepeat, $duration: 4s infinite, $transition: 2s ease-in);
                margin-bottom: 5rem;
            }

            p {
                width: 90%;
                font-size: 18px;
                margin-bottom: 3rem;
            }

            .btn-contact-container {
                width: 90%;
                display: flex;
                justify-content: end;

                .btn-up {
                    align-items: end;
                    width: 16rem;
                    height: 36px;
                    font-size: 16px;
                    background-color: transparent;
                    color: black;
                    border-radius: 16px;
                    
                    @include all.boxSh($c: black);
                    @include all.borRad($c: black);
                    
                    margin-bottom: 4px;
                    margin-right: 4px;
                    
                    &:hover {
                        box-shadow: none;
                        background-color: lightcoral;
                        @include all.btnPressAnimation();
                    }
                }
            }
        }
    }
}