// Konfiguration für den Regen
$rain-color: rgba(255, 255, 255, 0.3); // Farbe und Transparenz der Striche
$rain-count: 40; // Anzahl der Strich-Gruppen

.trust-section {
    background-color: black;
    width: 100%;
    height: auto;
    min-height: 70dvh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    box-shadow:
        0 0 5px rgba(0, 255, 255, 0.5),
        0 0 10px rgba(0, 255, 255, 0.4),
        0 0 20px rgba(0, 255, 255, 0.3),
        0 0 30px rgba(0, 255, 255, 0.2);
    z-index: 19;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url("/assets/images/lptrust/rain_bg.png");
        background-size: repeat-y;
        background-position: center ;
        z-index: 0;
        // background-color: rgba(113,200,240,0.1);
    }

    // &::before {
        // content: "";
        // position: absolute;
        // inset: 0;
        // background-size: cover;
        // background-position: center;
        // z-index: 0;
        // background-color: rgba(113,200,240,0.1);
    // }

    .trust-content {
        width: 100%;
        max-width: 1248px;
        height: auto;
        min-height: 500px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(50, 50, 50, 0.4);
        background-color: transparent;
        margin: 7dvw 4dvw;
        border-radius: 16px;
        
        .trust-text-container {
            width: 100%;
            padding: 4rem 5dvw;
            
            
            h2 {
                font-size: clamp(26px, 5dvw, 96px);
                color: whitesmoke;
                text-shadow: 0 0 8px rgba(0, 200, 255, 0.5);
            }

            p {
                font-size: clamp(16px, 2dvw, 22px);
                color: whitesmoke;
                margin-top: 2rem;
                width: 100%;
            }
        }

        .trust-schedule-content {
            width: 100%;

            .trust-schedule-list {
                width: 100%;
                padding: 50px 0;

                .trust-schedule-list-item {
                    width: 100%;
                    list-style: none;
                    position: relative;
                    width: 6px;
                    margin: 0 10dvw;
                    padding-top: 120px;
                    background: rgba(0, 0, 220, 0.6);

                    div {
                        position: relative;
                        bottom: 0;
                        width: 55vw;
                        max-width: 750px;
                        left: 40px;
                        padding: 4rem 3rem;
                        background-color: rgba(0, 0, 160, 0.2);
                        transition: all 0.5s ease-in-out;
                        border-radius: 8px;
                        box-shadow:
                            2px 2px 2px 2px rgba(0, 0, 0, 0.6),
                            4px 4px 4px 4px rgba(0, 0, 190, 0.4),
                            6px 6px 6px 6px rgba(0, 0, 190, 0.3),
                            6px 6px 6px 6px rgba(0, 0, 190, 0.2),
                            0px 0px 0px 2px rgba(0, 0, 190, 0.4);


                        &:before {
                            left: -15px;
                            border-width: 8px 16px 8px 0;
                            border-color: transparent rgba(0, 0, 190, 1);
                        }
                        
                        h3 {
                            width: 100%;
                            color: whitesmoke;
                            text-shadow: 0 0 8px rgba(0, 200, 255, 0.5);
                            padding-bottom: 2rem;
                            font-size: clamp(18px, 3dvw, 36px);
                        }
                        
                        p {
                            width: 100%;
                            color: whitesmoke;
                            font-size: clamp(16px, 2dvw, 20px);
                            font-weight: 800;
                        }

                        .list-item-point-list {
                            color: whitesmoke;
                            margin-left: 20px;
                            gap: 0.5rem;
                            padding-top: 2rem;

                            .list-item-point {
                                color: whitesmoke;
                                font-size: clamp(16px, 2dvw, 20px);
                                font-weight: 800;
                            }
                        }
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        left: 25%;
                        bottom: 0;
                        width: 25px;
                        height: 25px;
                        background: rgba(240,240,240, 1);
                        transform: translateX(-50%);
                        border-radius: 50%;
                        border: 2px solid rgba(0,0,255, 0.7);
                    }
                }
            }

            div:before {
                content: "";
                position: absolute;
                bottom: 5px; 
                width: 0;
                right: 0;
                border-style: solid;
            }
        }
    }

}