@use '../../../styles/all-styles' as all;

#section-navbar {
    background-color: transparent;
    @include all.dFlex($alit: center);

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10rem;
        li{
            font-weight: bold;
            color: white;
            width: 14rem;
            >a {
                margin: 2rem;
                max-width: 18rem;
                text-align: start;
                

                &:visited {
                    color: white;
                }
            }

            img {
                position: absolute;
                top: -1.5rem;
                left: 0;
                width: 120px;
                visibility: hidden;
                
            }

            &:hover img {
                z-index: 1;
                top:0;
                visibility: visible;
                @include all.animate($animation: bgImgFadeInTopToBottom);
            }

            &:hover #about-hover {
                @include all.animate($animation: bgImgFadeInLeftToRight);
            }
        }

        #nav-item-about{
            &:hover {
                
            }
        }

        #nav-item-skills {
            
        }

        #nav-item-projects {

        }

        #nav-item-contact {

        }
    }
}   
