@use '../../../styles/all-styles' as all;

#section-navbar {
    background-color: transparent;
    @include all.dFlex($alit: center, $jc: space-between);

    ul {
        width: 100%;
        height: 10dvh;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .nav-item {
            width: 16rem;
            height: 10dvh;
            display: flex;
            align-items: center;
            justify-content: center;

            .nav-item-link {
                margin: 2rem;
                color: white;
                font-weight: bold;
            }

            .nav-hov-img {
                width: 16rem;
                height: 8dvh;
                position: absolute;
                top: 1dvh;
                z-index: 2;
                display: none;
                align-items: center;
            }

            &:hover #about-hover {
                display: flex;
                @include all.animate($animation: bgImgFadeInLeftToRight);
            }

            &:hover #skills-hover {
                display: flex;
                @include all.animate($animation: bgImgFadeInLeftToRight);
            }

            &:hover #projects-hover {
                display: flex;
                @include all.animate($animation: bgImgFadeInLeftToRight);
            }

            &:hover #contact-hover {
                display: flex;
                top: 3.5dvh;
                @include all.animate($animation: bgImgFadeInLeftToRight);
            }
        }
    }
}   
