@use '../../../styles/all-styles' as all;

#section-navbar {
    background-color: transparent;
    @include all.dFlex($alit: center);

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10rem;
        li{
            font-size: 24px;
            color: white;
            >a {
                max-width: 100px;
                img {
                    width: 100px;
                }
            }
        }

        

        #nav-item-about{
            &:hover {
                
            }
        }

        #nav-item-skills{

        }

        #nav-item-projects {

        }

        #nav-item-contact {

        }
    }
}   
