@use '../../styles/all-styles' as all;

#section-header {
    width: 100%;
    height: 10dvh;
    background-color: transparent;

    @include all.dFlex();
    #logo-container {
        width: 10%;
        img{
            width: 64px;
            height: 64px;
        }
    }
    #nav-container {
        width: 80%;
        @include all.dFlex();
        app-navbar {
            width: 80dvw;
        }
    }

    #lang-container {
        width: 10%;
        @include all.dFlex($gap: 2rem);

        .btn-lang-container {
            width: 4.5rem;
            height: 10dvh;
            display: flex;
            align-items: center;
            justify-content: center;
            
            .btn-lang {
                width: 100%;
                height: 5dvh;
                background: transparent;
                color: white;
                border: none;
                outline: none;
                border-inline: none;  
            }

            .btn-img-lang {
                position: absolute;
                width: 100%;
                height: 50%;
                // top: 0;
                z-index: 2;
            }
        }

        #radio-wrapper {
            width: 4rem;
            @include all.dFlex();

            .btn-radio-ball {
                position: absolute;
                transition: 0.5s ease-in-out;
            }   
        }
    }
}