@use "../../shared/styles/all-styles" as all;

.section-hero {
    @include all.bgImg($path: "../../../../public/assets/img/backgrounds/page/lp/bg_hero.png");
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

// #region Buttons pressed and to press

.btn-up {
    width: 16rem;
    height: 36px;
    font-size: 16px;
    background-color: transparent;
    color: white;
    border-radius: 16px;
    
    @include all.boxSh();
    @include all.borRad();

    margin-bottom: 4px;
    margin-right: 4px;

    &:hover {
        box-shadow: none;
        background-color: lightcoral;
        @include all.btnPressAnimation();
    }
}

.btn-down {
    width: 16rem;
    height: 36px;
    font-size: 16px;
    background-color: transparent;
    color: white;
    @include all.borRad();
}

// #endregion Buttons pressed and to press

// #region hero content

#hero-content {
    width: 90rem;
    height: 100dvh;

    @include all.dFlex($alit: center, $jc: center, $flexdir: column, $gap: 1.6rem);

    #hero-img-btn-line {
        width: 100%;
        
        @include all.dFlex($gap: 3dvw);

        #hero-btn-txt-wrapper {
            width: 30dvw;
            height: 100%;
            @include all.dFlex($flexdir: column, $jc: space-evenly, $alit: start, $gap: 3.2rem);

            #img-btn-wrapper {
                height: 14rem;
                @include all.dFlex($flexdir: column, $alit: end, $jc: end);

                #btn-img-waving-hand {
                    rotate: -90deg;
                }

                #btn-waving-hand {
                    @include all.txt-switch-effect();
                    @include all.wave-icon(".hand-img");

                    &:hover {
                        @include all.animate($animation: ElementGrowAnColorLeftToRight, $duration: 0.5s ease-in-out);
                    }
                }
            }

            .text-wrapper {
                width: 32rem;
                
                span {
                    width: 7rem;
                }
            }
        }

        #img-wrapper {
            width: 20dvw;
            @include all.dFlex($flexdir: column, $alit: center);

            #img-polaroid-frame {
                position: absolute;
                @include all.size($w: 24rem, $h: 29rem);
                rotate: 8deg;
                z-index: 1;
            }

            #img-profil-photo {
                @include all.size($w: 17rem, $h: 25.6rem);
                rotate: 8deg;
                filter: grayscale(100%);
            }

            #polaroid-txt {
                position: absolute;
                bottom: 5px;
                left: 24%;
                rotate: 8deg;
                font-size: 28px;
                z-index: 2;

                #polaroid-smile-txt {
                    font-size: 28px;
                }
            }

            &:hover #img-profil-photo {
                filter: grayscale(0%);
            }
        }
    }

    #hero-dev-line {
        width: 100%;
        @include all.dFlex($flexdir: column, $jc: bottom, $alit: flex-end, $gap: 1.6rem);
    
        .btn-wrapper {
            width: 100%;
            height: 5rem;
            display: flex;
            align-items: center;
            justify-content: end;
        }
    
    }
}
// #endregion hero content

// #region hero sozials

#socials-container {
    @include all.dFlex($flexdir: column, $gap: 2px);
    position: absolute;
    bottom: 10rem;
    left: 3dvw;
    z-index: 2;

    img {
        width: 4rem;
        height: 4rem;
        @include all.borRad($radius: 4.5rem);
        padding: 4px;

        box-shadow: inset 0 -3px 0 -1px #24DD80;
        transition: box-shadow .15s ease-in-out;
        color: black;
        line-height: 40px;

        &:hover {
            box-shadow: inset 0 -40px 0 -1px #1073EA;
            // @include all.animate($animation: bgColorFadeInBottomToTop, $duration: 0.5s ease-in);
        }
    }
}

// #endregion hero sozials

// #region Hero - Frontend Developer

.letter {
    font-size: 96px;
    font-weight: 800;
    color: whitesmoke;

    &:hover {
        color: yellow;
    }
}

.lower {
    &:hover {
        text-transform: uppercase;
    }
}

.upper {
    &:hover {
        text-transform: lowercase;
    }
}

// #endregion Hero - Frontend Developer