<section class="content section-hero ">
    <div id="hero-content">
        <div id="hero-img-btn-line">
            <div id="hero-btn-txt-wrapper">
                <div id="img-btn-wrapper">
                    <button id="btn-waving-hand" class="btn-down wave-btn" (mouseover)="waveButtonHover = true" (mouseleave)="waveButtonHover = false" type="button">
                        @if(waveButtonHover) {
                            <span class="text-to-switch">I'm Marcel Buchmann</span>
                        } @else {
                            <span class="text-to-switch">Hello world!</span>
                            
                        }
                        <img id="btn-img-waving-hand" class="hand-img" src="assets/img/icons/waving_hand.png" alt="a white symbol of an waving hand animated with hovering.">
                    </button>
                </div>
                
                <div class="text-wrapper">
                    @for (item of "Frontend"; track $index) {
                        @if(item == item.toUpperCase()){
                            <span class="letter lower">{{item}}</span>     
                        }
                        @else {
                            <span class="letter upper">{{item}}</span>
                        }
                    } @empty {
                        <span>undefined</span>
                    }
                </div>
            </div>
            <div id="img-wrapper">
                <img id="img-polaroid-frame" src="assets/img/elementtiles/polaroid.png" (mouseover)="switchPolaroid(true)" (mouseleave)="switchPolaroid(false)" alt="Shows a polaroid in white as a frame of a developer photo.">
                <p id="polaroid-txt">{{ 'LandingPage.hero.polaroid' | translate}}</p>
            </div>
            
        </div>
        <div id="hero-dev-line">
            <div class="text-wrapper">
                <p>
                    @for (item of profession; track $index) {
                        @if(item == item.toUpperCase()){
                            <span class="letter lower">{{item}}</span>     
                        }
                        @else {
                            <span class="letter upper">{{item}}</span>
                        }
                    } @empty {
                        <span>undefined</span>
                    }
                </p>
            </div>
            <div class="btn-wrapper">
                <button id="btn-getintouch" class="btn-up" (mouseenter)="setOnClickStyle()" (mouseup)="setOnClickReleaseStyle()" type="button">Get in touch</button>
            </div>
        </div>

        
    </div>

    <div id="socials-container">
        <a href="">
            <img src="assets/img/icons/white/symbol_linkedIn.png" alt="">
        </a>
        <a href="">
            <img src="assets/img/icons/white/logo_gitH.png" alt="">
        </a>
        <a href="">
            <img src="assets/img/icons/white/symbol_mail.png" alt="">
        </a>
    </div>
</section>
