.section-hero{
    background-image: url(./../../assets/img/pagetiles/hero_bg.png);
    background-repeat: no-repeat;
    background-attachment: center;
    background-size: cover;
    width: 100dvw;
    height:100dvh;
}