@use "../../shared/styles/all-styles" as all;

.section-hero {
    @include all.bgImg($path: "../../../../public/assets/img/backgrounds/page/lp/bg_hero.png");
    width: 100dvw;
    height: 100dvh;
}

// #region Buttons pressed and to press

.btn-up {
    width: 16rem;
    height: 36px;
    // font-size: 16px;
    background-color: transparent;
    color: white;
    border-radius: 16px;
    
    @include all.boxSh();
    @include all.borRad();

    margin-bottom: 4px;
    margin-right: 4px;

    &:hover {
        box-shadow: none;
        background-color: lightcoral;
        @include all.btnPressAnimation();
    }
}

.btn-down {
    width: 16rem;
    height: 36px;
    font-size: 16px;
    background-color: transparent;
    color: white;
    @include all.borRad();
}



// #endregion Buttons pressed and to press

// #region hero content

#hero-content {
    width: 100%;
    max-width: 45dvw;
    height: 70dvh;

    @include all.dFlex($flexdir: column, $gap: 1.6rem);

    #hero-img-btn-line {
        width: 100%;
        
        @include all.dFlex($gap: 12.8rem);

        #hero-btn-txt-wrapper {
            width: 38.4rem;
            height: 100%;
            @include all.dFlex($flexdir: column, $jc: space-evenly, $alit: start, $gap: 3.2rem);

            #img-btn-wrapper {
                height: 12.8rem;
                @include all.dFlex($flexdir: column, $alit: end, $jc: end);

                #btn-img-waving-hand {
                    rotate: -90deg;
                }

                #btn-waving-hand {
                    @include all.txt-switch-effect();
                    @include all.wave-icon(".hand-img");


                    &:hover {
                        @include all.animate($animation: ElementGrowAnColorLeftToRight, $duration: 0.5s ease-in-out);
                    }
                }
            }

            .text-wrapper {
                width: 32rem;
            }
        }

        #img-wrapper {

            @include all.dFlex($flexdir: column, $alit: center);

            #img-polaroid-frame {
                @include all.size($w: 21.6rem, $h: 25.6rem);
                rotate: 8deg;
            }

            #polaroid-txt {
                position: absolute;
                bottom: 10%;
                left: 32%;
                rotate: 8deg;
            }
        }
    }

    #hero-dev-line {
        width: 100%;
        @include all.dFlex($flexdir: column, $jc: bottom, $alit: flex-end, $gap: 1.6rem);
    }
}
// #endregion hero content

// #region hero sozials

    #socials-container {
        @include all.dFlex($flexdir: column, $gap: 2px);
        position: absolute;
        bottom: 10%;
        left: 5%;
        z-index: 2;

        img {
            width: 4rem;
            height: 4rem;
            @include all.borRad($radius: 4.5rem);
            padding: 4px;

            box-shadow: inset 0 -3px 0 -1px #24DD80;
            transition: box-shadow .15s ease-in-out;
            color: black;
            line-height: 40px;

            &:hover {
                box-shadow: inset 0 -40px 0 -1px #1073EA;
                // @include all.animate($animation: bgColorFadeInBottomToTop, $duration: 0.5s ease-in);
            }
        }

    }

// #endregion hero sozials

// #region Hero - Frontend Developer

.letter {
    font-size: 96px;
    font-weight: 800;
    color: whitesmoke;

    &:hover {
        color: yellow;
    }
}

.lower {
    &:hover {
        text-transform: lowercase;
    }
}

.upper {
    &:hover {
        text-transform: uppercase;
    }
}

// #endregion Hero - Frontend Developer